Django==1.4
git+https://github.com/dottedmag/path.py.git@a1af24e3b07819620daa055107ce9ff9c252f2df#egg=path.py-dev
MySQL-python==1.2.3
-e git+https://github.com/cyberdelia/django-pipeline.git@9eb97bc70c488f49dbcefcb41bf3d69b1c686053#egg=django_pipeline-dev
django-grappelli==2.3.5
raven
-e git+https://github.com/carljm/django-model-utils.git#egg=django-model-utils
-e git+https://github.com/sorl/sorl-thumbnail.git#egg=django-sorl
django-bootstrap-toolkit==2.5.4
django-mptt
PIL
-e git+git@github.com:oxys-net/django-dajaxice.git#egg=django-dajaxicedjango-dajaxice==0.2
django-dajax==0.8.4
git+https://github.com/dabapps/django-email-as-username.git#egg=emailusernames
python-dateutil==2.1