
<div id="nav-header" class="navbar  fixit">
  <div class="navbar-inner">
    <div id="nav-container" >
      <span class="title">
        media-<i>fil.es</i>
      </span>

      <div class="avatar pull-right">
        
        <img src="" width="" height=""/>
       
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" >
          <li>
            <a tabindex="-1" href="">Logout</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>

<div id="main-container" class="container" >
    
    <section>
      <header id="main-header"></header>
      
      <div class="row">
        <div class="span2 pull-right fixit" id="main-aside-right"></div>
      </div>
      
      <div id="main-content" class=" span10">
        
      </div>
      
    </section>
    
</div>