{% extends "boilerplate.html" %}
{% load i18n bootstrap_toolkit %}
{% block "body" %}
<div class="modal hide fade" id="modal" style="display:none">
  <form method='POST'  data-dajax-method='auth.login' >
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">
        ×
      </button>
      <h3>Authentification</h3>
    </div>
    <div class="modal-body">
      {{ form|as_bootstrap }}
      <input type="hidden" value="{{next}}" name="next">
      {% csrf_token %}
    </div>
    <div class="modal-footer">
      <button type="submit" data-loading-text="{% trans "please wait..." %}" class="btn btn-primary" >
        Valider
      </button>
    </div>

  </form>
</div>

{% endblock %}

{% block extra_lazy %}
<script>
$(window).load(function() {
  $('#modal').modal('show');
});
</script>
{% endblock %}