{% load url from future %}
{% load i18n bootstrap_toolkit gallery_filters %}

<div class="modal-header">
  <h3>Créer un compte</h3>
</div>

<form method='POST'  data-dajax-method='auth.register' id="modal-login">
  <div class="modal-body">
    <div class="login-password">
      <h2>Saisissez vos identifiants, </h2>
      <div class="alert alert-block alert-error" style="display:none"></div>
      <div class="control-group required">
        <label class="control-label" for="id_email">Email</label>
        <div class="controls">
          <input id="id_email" type="text" name="email" placeholder="Email" maxlength="30">
          <div id="error_email" style="display:none">
            <p class="help-block error-tpl"></p>
          </div>
        </div>
      </div>
      <div class="control-group required">
        <label class="control-label" for="id_password">Password</label>
        <div class="controls">
          <input type="password" name="password" placeholder="Password" id="id_password">
          <div id="error_password" style="display:none">
            <p class="help-block error-tpl"></p>
          </div>
        </div>
      </div>
      
      <a class="pull-left" href="{% url 'login' %}">J'ai déja un compte</a>
      <button type="submit" data-loading-text="{% trans "please wait..." %}" class="btn btn-primary" >{% trans "OK" %}</button>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{request.GET.next}}">
    </div>
    <div class="social-auth">
      <h2>ou utilisez un de ces services.</h2>
      {% for name in social_auth.backends.oauth2 %}
       <a rel="nofollow" class="social-btn-{{ name|css_class }}" href="{% url "socialauth_begin" name %}?next={{request.GET.next}}">{{ name|title }}</a>
      {% endfor %}
      {% for name in social_auth.backends.oauth %}
        <a rel="nofollow" class="social-btn-{{ name|css_class }}" href="{% url "socialauth_begin" name %}?next={{request.GET.next}}">{{ name|title }}</a>
      {% endfor %}
    </div>
  </div>
  
  
</form>

