<div class="thumbnail album" data-media-pk="<%= object.id %>">
    <div class="thumb-header" >
      <div class="stats">
        <% if (object.image_count > 0) { %><span><i class="icon-camera"></i> <%= object.image_count %></span><% }  %>
        <% if (object.video_count > 0) { %> <span><i class="icon-film"></i> <%= object.video_count %></span><% }  %>
      </div>
      <div class="actions">
        <span><a href="" data-modal="modal"  ><i class="icon-edit "></i></a></span>

        <!-- @TODO if not empty -->
        <span><a class="start-slides" href=""  data-url="@TODO" ><i class=" icon-play  "></i></a></span>

      </div>
    </div>
    <a  href="<%= object.absolute_uri %>"> <img src="<%= object.url_small %>"></a>
    <div class="thumb-footer">
      <h5><%= object.name %></h5>
      <p class='date'>
        <%= object.short_date %>
      </p>
   </div>
</div>