<div class="thumbnail image thumb-container <%= object.status %> <%= object.selected ? 'selected' : '' %>" data-media-pk="<%= object.id %>">
    <% if (object.running == false) { %>
      <a href="#" class="pull-left action select <% if (object.selected) {%>persist<% } %> "   ><i class="icon-<% if (object.selected) { %>minus<% } else { %>plus<% } %>-sign"></i></a>
      <% if (object.status == 'deleted') { %>
        <a href="#" class="pull-left action restore"  ><i class=" icon-refresh"></i></a>
      <% } else { %>
        <a href="#" class="pull-left action remove"   ><i class=" icon-trash"></i></a>
        <a href="#" class="pull-right action rotate rotate-left" data-rotate="90" ><i class="icon-share-alt "></i></a>
        <a href="#" class="pull-right action rotate rotate-right" data-rotate="-90" ><i class="icon-share-alt "></i></a>
      <% } %>
    <% } %>
    <a href="/media-redirect/<%= object.id %>/">
      <img src="<%= object.url_small %>" width="<%= object.width_small %>" height="<%= object.height_small %>" data-media-pk="<%= object.id%>">
    </a>

    <div class="legend">
      <% if (object.description !== null && object.description.trim().length > 0) { %>
      <p class="name"><%= object.description%></p>
      <% } %>
      <p class="date"><%= object.short_date %></p>
    </div>

    <% if (object.running) { %>
    <div class="running"></div>
    <% } %>
    <% if (object.status == 'deleted') { %>
    <div class="deleted"></div>
    <% } %>
</div>