<div class="thumbnail image thumb-container <%= object.status %> <%= object.selected ? 'selected' : '' %>" data-media-pk="<%= object.id %>">
  <ul class="actions nav" style="display:none" >
    <li >
      <a href="#" class="pull-left select"   ><i class="icon-<% if (object.selected) { %>minus<% } else { %>plus<% } %>-sign"></i></a>
    </li>
    <li class="not-deleted">
      <a href="#" class="pull-left remove"   ><i class=" icon-trash"></i></a>
    </li>
    <li class="not-deleted">
      <a href="#" class="pull-right rotate" data-rotate="90" ><i class="icon-share-alt "></i></a>
    </li>
    <li class="not-deleted" >
      <a href="#" class="pull-right rotate" data-rotate="-90" ><i class="icon-share-alt "></i></a>
    </li>
    <li class="deleted">
      <a href="#" class="pull-left restore"  ><i class=" icon-refresh"></i></a>
    </li>
  </ul>
  <div class="thumbnail-container" >
    <a href="/media-redirect/<%= object.id %>/">  <img src="<%= object.thumbnails.small.url %>" width="<%= object.thumbnails.small.width %>" height="<%= object.thumbnails.small.height %>" >  </a>
    <h6><%= object.name %></h6>
    <p class='date'>
      <%= object.short_date %>
    </p>
  </div>
</div>