body
  #main-container
    width 1170px
    margin-left auto
    margin-right auto
    margin-bottom 25px
  &.media
    .image-wrapper, .video-wrapper
    
      padding  4px
      border 1px solid #DDD
      -webkit-border-radius 4px
      -moz-border-radius 4px
      border-radius 4px
      -webkit-box-shadow 0 1px 3px rgba(0, 0, 0, 0.055)
      -moz-box-shadow 0 1px 3px rgba(0, 0, 0, 0.055)
      box-shadow 0 1px 3px rgba(0, 0, 0, 0.055)
    
      img
        margin 0 auto
        display block
  
 
.fileinputs
  position relative
  overflow  hidden
  input[type=file]
    position relative
    -moz-opacity 0 
    opacity 0
    z-index 2
    width 1000px
    left  -400px
    &:hover
      cursor pointer
      
  .fakefile 
    position absolute
    top 0px
    left 0px
    z-index 1
    width 100%
    
    &.hover
      text-decoration none
      background-color #eeeeee
      color #005580

      
 
    
.current-filters
  li
    a
      display inline
  
.thumbnails 
  li
    .thumbnail
      
      
      &.album
        height 200px
        span.img
          display inline-block
          width 150px
          height 115px
        
      &.video, &.image
        height 160px
    
      text-align  center
      .thumbnail-container
        display inline-block
        
        h5, h6
          line-height 5px
          text-align  left
        p.date 
          line-height 10px
          font-size 12px
          margin  0
          text-align  left
        
        img
          width auto
          max-height 115px
          
        div.actions
          display inline-block
          margin-top 5px
          width 150px
          a
            float right
          .label
            float left
        div.stats
          text-align  left
  

  
 #jGrowl
  .top-right 
    right 0px
    top 35px