body
  #main-container
    margin-top 60px
  
.thumbnails 
  li
    .thumbnail
      h5 
        line-height 5px
      p.date 
        line-height 10px
        font-size 12px
        margin  0
      height 200px
      img 
        width auto
        max-height 120px
      div.actions
        line-height 10px
  
#gallery
  bottom 0
  height 100%
  left 0
  position fixed
  right 0
  top 0
  z-index 0

#gallery-wrap
  bottom 0
  height 100%
  left 0
  margin-bottom 0!important
  position fixed
  right 0
  top 0

.camera_bar 
  z-index 2
 
.camera_thumbs 
  margin-top -100px
  position relative
  z-index 1

.camera_thumbs_cont 
  border-radius 0
  -moz-border-radius 0
  -webkit-border-radius 0
    
.camera_overlayer 
  opacity .1
  
 #jGrowl
  .top-right 
    right 0px
    top 35px