body
  #main-container
    margin-top 60px
    width 1170px
    margin-left auto
    margin-right auto
    
  &.media
    .image-wrapper
      img
        margin 0 auto
        display block
    
.current-filters
  li
    a
      display inline
  
.thumbnails 
  li
    .thumbnail
      
      
      &.album
        height 200px
        span.img
          display inline-block
          width 150px
          height 115px
        
      &.video, &.image
        height 160px
    
      text-align  center
      .thumbnail-container
        display inline-block
        
        h5, h6
          line-height 5px
          text-align  left
        p.date 
          line-height 10px
          font-size 12px
          margin  0
          text-align  left
        
        img
          width auto
          max-height 115px
          
        div.actions
          display inline-block
          margin-top 5px
          width 150px
          a
            float right
          .label
            float left
        div.stats
          text-align  left
  

  
 #jGrowl
  .top-right 
    right 0px
    top 35px