<div class="span2 pull-right <%= object.status %>">
    <div class="sidebar-nav well well-small">

      <ul class="nav">
        <li class="disabled">
          <a class="start-slides" href=""  data-url="" ><i class=" icon-play"></i> diaporama</a>
        </li>

        <li class="disabled">
          <a href="" ><i class=" icon-download-alt"></i> télécharger</a>
        </li>

        <li class="deleted restore" >
          <a  href="#"  ><i class=" icon-refresh"></i> publier</a>
        </li>

        <li class="not-deleted remove" >
          <a  href="#" ><i class=" icon-trash"></i> supprimer</a>
        </li>

        <li class="not-deleted rotate">
          <a  href="#" data-rotate="90" ><i class=" icon-share-alt"></i> tourner à droite</a>
        </li>

        <li class="not-deleted rotate">
          <a  href="#" data-rotate="-90" ><i class=" icon-share-alt"></i> tourner à gauche</a>
        </li>



      </ul>
    </div>

  </div>



  <article class="span10 <%= object.status %> thumb-container">

    <div class="image-wrapper thumbnail-container">
        <img id="<%= object.id %>"  src="<%= object.thumbnails.medium.url %>"
          width="<%= object.thumbnails.medium.width %>"
          height="<%= object.thumbnails.medium.height %>"  >
    </div>


    <footer>
      Par <%= object.owner.name %>, le <%=object.full_date %>
    </footer>

  </article>