<div class="span2 pull-right">
    <div class="sidebar-nav well well-small">

      <ul class="nav">
        <li >
          <a class="start-slides" href=""  data-url="" ><i class=" icon-play"></i> diaporama</a>
        </li>

        <li class="disabled">
          <a href="" ><i class=" icon-download-alt"></i> télécharger</a>
        </li>

        <li class="deleted" >
          <a  href="#" data-ops-target="media-<%= object.id %>" data-media-unremove data-media-pk="<%= object.id %>" ><i class=" icon-refresh"></i> publier</a>
        </li>

        <li class="not-deleted" >
          <a  href="#" data-ops-target="media-<%= object.id %>" data-media-remove data-media-pk="<%= object.id %>" ><i class=" icon-trash"></i> supprimer</a>
        </li>

        <li class="not-deleted">
          <a  href="#" data-image-rotate="90" data-media-pk="<%= object.id %>" data-ops-target="media-<%= object.id %>" data-image-size="medium"><i class=" icon-share-alt"></i> tourner à droite</a>
        </li>

        <li class="not-deleted">
          <a  href="#" data-image-rotate="-90" data-media-pk="<%= object.id %>"  data-ops-target="media-<%= object.id %>" data-image-size="medium" ><i class=" icon-share-alt"></i> tourner à gauche</a>
        </li>



      </ul>
    </div>

  </div>



  <article class="span10">

    <div class="image-wrapper">
        <img id="<%= object.id %>"  src="<%= object.thumbnails.medium.url %>"
          width="<%= object.thumbnails.medium.width %>"
          height="<%= object.thumbnails.medium.height %>"  >
    </div>


    <footer>
      Par <%= object.owner.name %>, le <%=object.full_date %>
    </footer>

  </article>