
  <ul class="breadcrumb fixit">

    <% if (breadcrumbs.length > 0) { %>
      <li><a href="/">Accueil</a><span class="divider">/</span></li>
      <% breadcrumbs.forEach(function (crumb, idx) { %>
          <% if (idx < breadcrumbs.length - 1) {%>
            <li><a href="/album/<% print(crumb.get('id')) %>/"><% print(crumb.get('name')) %></a><span class="divider">/</span></li>
          <% } else { %>
            <li><% print(crumb.get('name')) %></li>
          <% } %>
      <% }); %>
    <% } else { %>
    <li>Accueil</li>
    <% } %>

    <li  class="pull-right paginator"></li>

   </ul>

