
  <ul class="breadcrumb fixit">

    <% if (breadcrumbs.length > 0) { %>
      <% breadcrumbs.forEach(function (crumb, idx) { %>
          <% if (idx < breadcrumbs.length - 1) {%>
            <li><a href="<% print(crumb.url) %>"><% print(crumb.name) %></a><span class="divider">/</span></li>
          <% } else { %>
            <li><% print(crumb.name) %></li>
          <% } %>
      <% }); %>
    <% } else { %>
    <li>Accueil</li>
    <% } %>

    <li  class="pull-right paginator"></li>

   </ul>

