<section>
  <header id="main-header"></header>

  <div class="row">
    <div class="span2 pull-right fixit" id="main-aside-right">


      <div class="sidebar-nav well well-small">

        <h5>Options</h5>

        <ul class="nav">

          <% if (true) {%> <!-- album -->
          <li  ><a class="start-slides" href=""  data-url="" ><i class=" icon-play"></i> diaporama</a></li>
          <li ><a href="" data-modal="modal"  ><i class="icon-edit"></i> edit</a></li>
          <li >
            <div class="fileinputs">
              <a class="fakefile"><i class="icon-plus"></i> ajouter des photos</a>
              <input   id="fileUploadInput"  type="file" name="files[]"  multiple >

            </div>
          </li>
          <% } else { %>
          <li ><a  href="" data-modal="modal"  ><i class="icon-plus"></i> nouvel album</a></li>
          <% } %>



        </ul>
      </div>

      <% if (true) { %> <!-- album -->
      <div class="sidebar-nav well well-small">

        <h5>Sélection</h5>
        <ul class="nav">
          <li class=" mass-media-action allow-for-all allow-empty hide" ><a  href="#" data-select-all ><i class="icon-plus"></i> tout séléctionner</a></li>
          <li class=" mass-media-action allow-for-all hide" ><a  href="#" data-unselect-all ><i class="icon-plus"></i> tout déséléctionner</a></li>
          <li class=" mass-media-action allow-for-all hide" ><a  href="#" data-revert-selection  ><i class="icon-plus"></i> inverser la sélection</a></li>
          <li class=" mass-media-action allow-for-published hide" ><a  href="#modal-move" data-modal="modal"  data-width="400" ><i class="icon-plus"></i> déplacer</a></li>
          <li class=" mass-media-action allow-for-published hide" ><a  href="#" data-image-rotate="-90"  data-image-size="small" ><i class="icon-plus"></i> tourner à gauche</a></li>
          <li class=" mass-media-action allow-for-published hide" ><a  href="#" data-image-rotate="90"  data-image-size="small"  ><i class="icon-plus"></i> tourner à droite</a></li>
          <li class=" mass-media-action allow-for-published hide" ><a  href="#" data-media-remove  ><i class="icon-trash"></i> supprimer</a></li>
          <li class=" mass-media-action allow-for-deleted hide" ><a  href="#" data-media-unremove  ><i class="icon-trash"></i> restaurer</a></li>
        </ul>
      </div>
      <% } %>

      <div class="sidebar-nav well well-small">
        <h5>Filtres actifs</h5>
        <ul class="nav current-filters">

          <li><a href=""><i class="icon-remove"></i></a> video</li>
          <!--<li><a href="{{facet.url}}"><i class="icon-remove"></i></a> {{facet.name}}</li>-->
        </ul>
      </div>

    </div>
    <div id="main-content" class=" span10"></div>
  </div>
</section>