{% extends "base.html" %}
{% load gallery_tags gallery_filters %}
{% load url from future %}
{% block "body-class" %}media image thumb-container {{object.status}} {% endblock %}
{% block "body-data" %} data-media-pk="{{object.pk}}"{% endblock %}

{% block extra_lazy %}
<script>
  $(document).ready(function() {
    var $videojs = $('.video-js');
    var height = parseInt($('.video-wrapper').width() * 720 / 1280);
    $videojs.attr('width', $('.video-wrapper').width());
    $videojs.attr('height', height);
    $videojs.css({
      width : $('.video-wrapper').width() + 'px',
      height : height + 'px'
    })

  }); 
</script>
{% endblock %}

{% block "content" %}

<ul class="breadcrumb">
  <li>
    <a href="{% url "home_view" %}">Accueil</a><span class="divider">/</span>
  </li>

  {% for crumb in breadcrumbs %}
  {% if forloop.last %}
  <li class="active">
    {{crumb.name}}
  </li>
  {% else %}
  <li>
    <a href="{{crumb.get_absolute_uri}}">{{crumb.name}}</a><span class="divider">/</span>
  </li>
  {% endif %}
  {% endfor %}

  <li class="pull-right">
    {% if is_paginated %}
    {% if page_obj.has_previous %}<a href="?page={{page_obj.previous_page_number}}"><i class="icon-chevron-left"></i></a>{%endif%} photo {{page_obj.number}} / {{paginator.num_pages}} {% if page_obj.has_next %}<a href="?page={{page_obj.next_page_number}}"><i class="icon-chevron-right"></i></a>{% endif %}
    {% endif %}
  </li>

</ul>

<div class="row">

  <div class="span2 pull-right">
    <div class="sidebar-nav well well-small">

      <ul class="nav">
        <li >
          <a class="start-slides" href=""  data-url="{% url 'gallery_view' pk=object.parent_album.pk %}" ><i class=" icon-play"></i> diaporama</a>
        </li>

        <li class="disabled">
          <a href="" ><i class=" icon-download-alt"></i> télécharger</a>
        </li>
        
        <li class="deleted" >
          <a  href="#" data-ops-target="media-{{object.pk}}" data-media-unremove data-media-pk="{{object.pk}}" ><i class=" icon-refresh"></i> publier</a>
        </li>
        
        <li class="not-deleted" >
          <a  href="#" data-ops-target="media-{{object.pk}}" data-media-remove data-media-pk="{{object.pk}}" ><i class=" icon-trash"></i> supprimer</a>
        </li>
        
        <li class="not-deleted">
          <a  href="#" data-image-rotate="90" data-media-pk="{{object.pk}}" data-ops-target="media-{{object.pk}}" data-image-size="medium"><i class=" icon-share-alt"></i> tourner à droite</a>
        </li>
        
        <li class="not-deleted">
          <a  href="#" data-image-rotate="-90" data-media-pk="{{object.pk}}"  data-ops-target="media-{{object.pk}}" data-image-size="medium" ><i class=" icon-share-alt"></i> tourner à gauche</a>
        </li>
        
        
        
      </ul>
    </div>
    
    <div class="sidebar-nav well well-small">
      <p>
        <abbr title="Titre de la photo">Titre</abbr> <span>{{object.name}}</span>
      </p>
      
      <p>
        <abbr title="Date">Date</abbr> <span>{{object.date|date:"j F Y \à H\hi"}}</span>
      </p>
      
      <p>
        <abbr title="Description">Descr.</abbr> <span contenteditable="true">{% if object.description %}{{object.description}}{%else%}Votre description ici{%endif%}</span>
      </p>
      
    </div>
        
    
    
  </div>



  <article class="span10">

    {% ifequal object.real_type.model 'image' %}
    <div class="image-wrapper">
      {% thumb object "medium" as im %}
        <img id="{{im.id}}"  src="{{im.src}}" width="{{im.width}}" height="{{im.width}}"  >
        {% endthumb %}
    </div>
    {% else %}
    <div class="video-wrapper " >
      <video width="1280" height="720" class="video-js vjs-default-skin" controls preload="auto" data-setup="{}">
        {% for version in object.video_versions.all %}
        <source src="{{version.file.url}}" type='{{version.get_type_display}}'>
        {% endfor %}
      </video>
    </div>

    {% endifequal %}

    <footer>
      © {{object.created_by.get_full_name}}
    </footer>

  </article>

</div>
{% endblock %}
