
$orange = rgb(179, 179, 179);

body

  #main-aside-right
    box-shadow: 0px -1px 1px #aaa;

  .side-box
    padding 5px
    background-color rgba(58, 58, 58, 0.28)



    border-bottom solid 1px #aaa
    box-shadow 1px 0px #aaa 1px


    h5
      padding 5px
      margin 0
    ul
      width 100%
      margin-bottom 10px
      li
        a
          padding 5px
          color #AAAAAA
          &:hover, &:focus
            text-decoration none
            background-color transparent
            color rgb(196, 196, 196)

  background-color rgb(44, 44, 44)

  .breadcrumb, .well, .well-small
    background-color rgba(58, 58, 58, 0.28)

  .breadcrumb
    li
      text-shadow none


  #footer
    width 100%

    -webkit-box-shadow rgba(0, 0, 0, 0.0980392) 0px 5px 5px 0px
    background-image -webkit-linear-gradient(top, rgb(48, 48, 48) 0%, rgb(25, 25, 25) 100%)
    border-bottom-color rgb(0, 0, 0)
    border-bottom-style solid
    border-bottom-width 1px
    box-shadow rgba(0, 0, 0, 0.0980392) 0px 5px 5px 0px
    color rgb(51, 51, 51)


  .inline-block
    display inline-block

  ul.typeahead
    z-index 2000

  #nav-header
    height 48px

    -webkit-box-shadow rgba(54, 54, 54, 0.8) 0px 1px 1px 0px
    background-image -webkit-linear-gradient(top, rgb(25, 25, 25) 100%, rgb(48, 48, 48) 0%)
    border-top-color rgb(0, 0, 0)
    border-top-style solid
    border-top-width 1px
    box-shadow rgba(54, 54, 54, 0.8) 0px 1px 1px 0px
    color rgb(51, 51, 51)

    .navbar-inner
      height 100%

    span.title
      display block
      margin-top 10px
      float left

      a
        text-rendering optimizelegibility
        text-transform uppercase
        color $orange
        font-size 20px
        font-weight bold
        text-shadow:0 0 3px #aaa;

        span
          padding 0 2px
          color $orange
          text-shadow:0 0 3px $orange;

  #nav-container
    width 1170px
    margin-left auto
    margin-right auto
    margin-top 3px
    vertical-align  middle

    .avatar
      img
        width 42px
        height auto

    .uploads
      width 30px
      span
        display block
        width 100%
        text-align  center
        font-size 70%
        margin-top  -8px

  //background url('img/body-bg.png')
  #main-container
    width 1170px
    margin-left auto
    margin-right auto
    margin-bottom 20px
    position relative

    /*>div
      position absolute
      */
  #main-content
    position relative



div.image-mask
  background-color black
  opacity .5
  position absolute


.fileinputs
  position relative
  overflow  hidden
  input[type=file]
    position relative
    -moz-opacity 0
    opacity 0
    z-index 2
    width 1000px
    left  -400px
    &:hover
      cursor pointer

  .fakefile
    position absolute
    top 0px
    left 0px
    z-index 1
    width 100%

    &.hover
      text-decoration none
      background-color transparent
      color rgb(196, 196, 196)

.modal
  -webkit-border-radius 0 !important
  border-radius 0 !important
  -webkit-border-top-left-radius 0
  border-top-left-radius 0

  .modal-footer, .modal-header
    background-color rgba(58,58,58,0.5)

  .modal-body
    background-color rgba(58,58,58,0.2)

#modal-login
  background linear-gradient(top, darken(#fff,1%), darken(#fff,6%))
  border-radius 5px
  .alert
    font-size 87%
    line-height 110%
    padding 5px
  label
    display none
    &.checkbox
      display block
      float left
  button
    float right
  .login-password
    padding-right 20px
    border-right 1px solid darken(#fff,10%)
    float left
    width 219px
    position relative
    &:before
      display block
      content ""
      width 1px
      position absolute
      right 0px
      top 0px
      bottom 0px
      background-color rgba(255,255,255,0.8)

  .social-auth
    padding-left 20px
    float left
    width 220px
    a
      display block
      clear both
      line-height 24px
      margin-bottom 10px
      color #666
      &:before
        display block
        height 24px
        width 24px
        margin-right 10px
        opacity 1
        box-shadow inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)
        float left
        //border 1px solid #0055cc
        //border-radius 3px
      &.social-btn-facebook:before
        content url('img/icons/facebook.png')
      &.social-btn-google-oauth2:before
        content url('img/icons/google.png')
      &.social-btn-twitter:before
        content url('img/icons/twitter.png')
      &.social-btn-dropbox:before
        content url('img/icons/dropbox.png')

  h2
    font-size 100%
    line-height 110%
    margin-bottom 15px
    font-family Arial
  .modal-body
    padding-top 20px
  .close
    position absolute
    top 10px
    right 15px

.media-detail
  text-align center
  position relative

  .next, .previous
      z-index 15
      position absolute
      top 50%

      a
        padding 5px
        background white
        opacity .8
        color black
        box-sizing border-box
        &:hover
          text-decoration none
          opacity 1.0

      &.next
        right 0
        a
          border-top-left-radius 2px
          border-bottom-left-radius 2px

      &.previous
        a
          border-top-right-radius 2px
          border-bottom-right-radius 2px

  .image-wrapper
    display inline-block
    position relative



    img[data-media-pk]
      //height 100%
      border-radius 2px

    footer
      position absolute
      bottom 0
      right 0
      left 0
      width 100%
      background white
      opacity .8
      text-align left
      padding 5px
      margin 0
      font-size 11px
      line-height 11px
      height 20px
      box-sizing border-box
      color black
      border-bottom-left-radius 2px
      border-bottom-right-radius 2px
.appear-on-mouseover
  display none

.thumbnails

  li
    .thumbnail

      position relative
      background-color transparent
      padding 0
      border none

      &.selected
        &.video, &.image
          border solid 2px rgb(179, 179, 179);
          //height 156px
          //width 166px
          box-sizing  border-box

      &.album
        height 160px

        div.thumb-footer
          background-color white
          opacity 0.8
          padding 2px 5px 2px
          position absolute
          bottom 0
          left 0
          right 0
          p, h5
            margin 0
            font-size 11px
            line-height 11px
            height 12px

        div.thumb-header
          padding 0 5px
          position absolute
          top 0
          left 0
          right 0
          z-index 20

          a
            float right
          .label
            float left
          div.stats
            float left
            display block

          .label
            padding 1px 2px
            margin-top  5px

            i
              margin-top 0

          div.actions
            float right
            display block



      &.video, &.image
        height 160px
        .legend
          //position absolute
          //bottom: 0
          //left 0
          //right: 0
          padding 3px 0 3px 5px
          color black
          display none
          background-color white
          opacity 0.9
          //width 165px
          width 100%
          box-sizing  border-box
          height 15px
          margin-top -15px

          p
            margin 0
            font-size 11px
            line-height 11px
            height 12px


        .action
          position absolute
          top 2px
          display none
          z-index 20
          &.persist
            display block

          &.rotate-left
            right 5px

          &.rotate-right
            right 20px

          &.remove, &.restore
            left 20px

          &.select
            left 5px

        &.selected
          background-color gainsboro

        .actions
          //top 5px
          position absolute
          width 100%
          background whiteSmoke
          margin-left -4px
          margin-top -4px
          z-index 15
          opacity 0.95





.over-all
  position absolute
  opacity 0.5
  z-index 10
  top 0
  left 0
  bottom 0
  right 0

  &.center-legend
    padding-top 50%


    span
      margin-top  -400%
      display inline-block
      background-color  red
      width 100%
      text-align  center

.running
  background-color black

.deleted
  background-color red

