.deleted .not-deleted {
  display: none;
}
.published .deleted {
  display: none;
}
body #nav-header {
  height: 48px;
}
body #nav-header .navbar-inner {
  height: 100%;
}
body #nav-container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  vertical-align: middle;
}
body #nav-container .avatar img {
  width: 42px;
  height: auto;
}
body #nav-container .uploads {
  width: 30px;
}
body #nav-container .uploads span {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 70%;
  margin-top: -8px;
}
body #main-container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  position: relative;
}
body #main-container >div {
  position: absolute;
}
body #main-content {
  position: relative;
}
div.image-mask {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
}
.fileinputs {
  position: relative;
  overflow: hidden;
}
.fileinputs input[type=file] {
  position: relative;
  -moz-opacity: 0;
  opacity: 0;
  z-index: 2;
  width: 1000px;
  left: -400px;
}
.fileinputs input[type=file]:hover {
  cursor: pointer;
}
.fileinputs .fakefile {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
}
.fileinputs .fakefile.hover {
  text-decoration: none;
  background-color: #eee;
  color: #005580;
}
#modal-login {
  background: linear-gradient(top, #fcfcfc, #f0f0f0);
  border-radius: 5px;
}
#modal-login .alert {
  font-size: 87%;
  line-height: 110%;
  padding: 5px;
}
#modal-login label {
  display: none;
}
#modal-login label.checkbox {
  display: block;
  float: left;
}
#modal-login button {
  float: right;
}
#modal-login .login-password {
  padding-right: 20px;
  border-right: 1px solid #e6e6e6;
  float: left;
  width: 219px;
  position: relative;
}
#modal-login .login-password:before {
  display: block;
  content: "";
  width: 1px;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(255,255,255,0.8);
}
#modal-login .social-auth {
  padding-left: 20px;
  float: left;
  width: 220px;
}
#modal-login .social-auth a {
  display: block;
  clear: both;
  line-height: 24px;
  margin-bottom: 10px;
  color: #666;
}
#modal-login .social-auth a:before {
  display: block;
  height: 24px;
  width: 24px;
  margin-right: 10px;
  opacity: 1;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
  float: left;
}
#modal-login .social-auth a.social-btn-facebook:before {
  content: url("img/icons/facebook.png");
}
#modal-login .social-auth a.social-btn-google-oauth2:before {
  content: url("img/icons/google.png");
}
#modal-login .social-auth a.social-btn-twitter:before {
  content: url("img/icons/twitter.png");
}
#modal-login .social-auth a.social-btn-dropbox:before {
  content: url("img/icons/dropbox.png");
}
#modal-login h2 {
  font-size: 100%;
  line-height: 110%;
  margin-bottom: 15px;
  font-family: Arial;
}
#modal-login .modal-body {
  padding-top: 20px;
}
#modal-login .close {
  position: absolute;
  top: 10px;
  right: 15px;
}
article.deleted .image-wrapper,
article.deleted .video-wrapper {
  background-image: url("img/deleted.png");
  background-repeat: no-repeat;
  background-position: 50% 30%;
}
article.deleted .image-wrapper img,
article.deleted .video-wrapper img {
  opacity: 0.5;
}
.thumbnails li .thumbnail {
  background-color: whiteSmoke;
  text-align: center;
}
.thumbnails li .thumbnail.deleted {
  background-image: url("img/deleted.png");
  background-repeat: no-repeat;
  background-position: 50% 30%;
}
.thumbnails li .thumbnail.deleted img {
  opacity: 0.5;
}
.thumbnails li .thumbnail.album {
  height: 200px;
}
.thumbnails li .thumbnail.album span.img {
  display: inline-block;
  width: 150px;
  height: 115px;
}
.thumbnails li .thumbnail.album div.thumb-header {
  display: inline-block;
  margin-top: 5px;
  width: 150px;
}
.thumbnails li .thumbnail.album div.thumb-header a {
  float: right;
}
.thumbnails li .thumbnail.album div.thumb-header .label {
  float: left;
}
.thumbnails li .thumbnail.album div.stats {
  float: left;
  display: block;
}
.thumbnails li .thumbnail.album div.actions {
  float: right;
  display: block;
}
.thumbnails li .thumbnail.video,
.thumbnails li .thumbnail.image {
  height: 160px;
  position: relative;
}
.thumbnails li .thumbnail.video.selected,
.thumbnails li .thumbnail.image.selected {
  background-color: #dcdcdc;
}
.thumbnails li .thumbnail.video .actions,
.thumbnails li .thumbnail.image .actions {
  position: absolute;
  width: 100%;
  background: whiteSmoke;
  margin-left: -4px;
  margin-top: -4px;
  z-index: 10;
  opacity: 0.95;
}
.thumbnails li .thumbnail .thumbnail-container {
  display: inline-block;
  position: relative;
}
.thumbnails li .thumbnail .thumbnail-container h5,
.thumbnails li .thumbnail .thumbnail-container h6 {
  line-height: 5px;
  text-align: left;
}
.thumbnails li .thumbnail .thumbnail-container p.date {
  line-height: 10px;
  font-size: 12px;
  margin: 0;
  text-align: left;
}
.thumbnails li .thumbnail .thumbnail-container img {
  width: auto;
  max-height: 115px;
}
