body #nav-header {
  height: 48px;
}
body #nav-header .navbar-inner {
  height: 100%;
}
body #nav-container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  vertical-align: middle;
}
body #nav-container .avatar img {
  width: 42px;
  height: auto;
}
body #nav-container .uploads {
  width: 30px;
}
body #nav-container .uploads span {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 70%;
  margin-top: -8px;
}
body #main-container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  position: relative;
}
body #main-container >div {
  position: absolute;
}
body #main-content {
  position: relative;
}
div.image-mask {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
}
.fileinputs {
  position: relative;
  overflow: hidden;
}
.fileinputs input[type=file] {
  position: relative;
  -moz-opacity: 0;
  opacity: 0;
  z-index: 2;
  width: 1000px;
  left: -400px;
}
.fileinputs input[type=file]:hover {
  cursor: pointer;
}
.fileinputs .fakefile {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
}
.fileinputs .fakefile.hover {
  text-decoration: none;
  background-color: #eee;
  color: #005580;
}
#modal-login {
  background: linear-gradient(top, #fcfcfc, #f0f0f0);
  border-radius: 5px;
}
#modal-login .alert {
  font-size: 87%;
  line-height: 110%;
  padding: 5px;
}
#modal-login label {
  display: none;
}
#modal-login label.checkbox {
  display: block;
  float: left;
}
#modal-login button {
  float: right;
}
#modal-login .login-password {
  padding-right: 20px;
  border-right: 1px solid #e6e6e6;
  float: left;
  width: 219px;
  position: relative;
}
#modal-login .login-password:before {
  display: block;
  content: "";
  width: 1px;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(255,255,255,0.8);
}
#modal-login .social-auth {
  padding-left: 20px;
  float: left;
  width: 220px;
}
#modal-login .social-auth a {
  display: block;
  clear: both;
  line-height: 24px;
  margin-bottom: 10px;
  color: #666;
}
#modal-login .social-auth a:before {
  display: block;
  height: 24px;
  width: 24px;
  margin-right: 10px;
  opacity: 1;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
  float: left;
}
#modal-login .social-auth a.social-btn-facebook:before {
  content: url("img/icons/facebook.png");
}
#modal-login .social-auth a.social-btn-google-oauth2:before {
  content: url("img/icons/google.png");
}
#modal-login .social-auth a.social-btn-twitter:before {
  content: url("img/icons/twitter.png");
}
#modal-login .social-auth a.social-btn-dropbox:before {
  content: url("img/icons/dropbox.png");
}
#modal-login h2 {
  font-size: 100%;
  line-height: 110%;
  margin-bottom: 15px;
  font-family: Arial;
}
#modal-login .modal-body {
  padding-top: 20px;
}
#modal-login .close {
  position: absolute;
  top: 10px;
  right: 15px;
}
.media-detail {
  text-align: center;
  position: relative;
}
.media-detail .image-wrapper {
  display: inline-block;
  position: relative;
}
.media-detail .image-wrapper .next,
.media-detail .image-wrapper .previous {
  z-index: 15;
  position: absolute;
  top: 50%;
}
.media-detail .image-wrapper .next.next,
.media-detail .image-wrapper .previous.next {
  right: 0;
}
.media-detail .image-wrapper img[data-media-pk] {
  width: auto;
}
.media-detail .image-wrapper footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: #fff;
  opacity: 0.8;
  text-align: left;
  padding: 3px 5px;
  margin: 0;
  font-size: 11px;
  line-height: 11px;
  height: 12px;
}
.appear-on-mouseover {
  display: none;
}
.thumbnails li .thumbnail {
  position: relative;
  background-color: transparent;
  padding: 0;
  border: none;
}
.thumbnails li .thumbnail.album {
  height: 160px;
}
.thumbnails li .thumbnail.album div.thumb-footer {
  background-color: #fff;
  opacity: 0.8;
  padding: 2px 5px 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.thumbnails li .thumbnail.album div.thumb-footer p,
.thumbnails li .thumbnail.album div.thumb-footer h5 {
  margin: 0;
  font-size: 11px;
  line-height: 11px;
  height: 12px;
}
.thumbnails li .thumbnail.album div.thumb-header {
  padding: 0 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.thumbnails li .thumbnail.album div.thumb-header a {
  float: right;
}
.thumbnails li .thumbnail.album div.thumb-header .label {
  float: left;
}
.thumbnails li .thumbnail.album div.thumb-header div.stats {
  float: left;
  display: block;
}
.thumbnails li .thumbnail.album div.thumb-header div.actions {
  float: right;
  display: block;
}
.thumbnails li .thumbnail.video,
.thumbnails li .thumbnail.image {
  height: 160px;
}
.thumbnails li .thumbnail.video .legend,
.thumbnails li .thumbnail.image .legend {
  position: absolute;
  bottom: 0;
  left: 0;
  righ: 0;
  padding: 3px 0 3px 5px;
  color: #000;
  display: none;
  background-color: #fff;
  opacity: 0.9;
  width: 165px;
}
.thumbnails li .thumbnail.video .legend p,
.thumbnails li .thumbnail.image .legend p {
  margin: 0;
  font-size: 11px;
  line-height: 11px;
  height: 12px;
}
.thumbnails li .thumbnail.video .action,
.thumbnails li .thumbnail.image .action {
  position: absolute;
  top: 2px;
  display: none;
  z-index: 20;
}
.thumbnails li .thumbnail.video .action.persist,
.thumbnails li .thumbnail.image .action.persist {
  display: block;
}
.thumbnails li .thumbnail.video .action.rotate-left,
.thumbnails li .thumbnail.image .action.rotate-left {
  right: 5px;
}
.thumbnails li .thumbnail.video .action.rotate-right,
.thumbnails li .thumbnail.image .action.rotate-right {
  right: 20px;
}
.thumbnails li .thumbnail.video .action.remove,
.thumbnails li .thumbnail.image .action.remove,
.thumbnails li .thumbnail.video .action.restore,
.thumbnails li .thumbnail.image .action.restore {
  left: 20px;
}
.thumbnails li .thumbnail.video .action.select,
.thumbnails li .thumbnail.image .action.select {
  left: 5px;
}
.thumbnails li .thumbnail.video.selected,
.thumbnails li .thumbnail.image.selected {
  background-color: #dcdcdc;
}
.thumbnails li .thumbnail.video .actions,
.thumbnails li .thumbnail.image .actions {
  position: absolute;
  width: 100%;
  background: whiteSmoke;
  margin-left: -4px;
  margin-top: -4px;
  z-index: 15;
  opacity: 0.95;
}
.running,
.deleted {
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.running.deleted,
.deleted.deleted {
  background-color: #f00;
}
