{% extends "boilerplate.html" %}
{% load thumbnail %}
{% load url from future %}
{% block "body" %}

<div id="nav-header" class="navbar  fixit">
  <div class="navbar-inner">
    <div id="nav-container" >
      <span class="title">
        media-<i>fil.es</i>
      </span>

      <div class="avatar pull-right">
        {% thumbnail request.user.get_profile.avatar "42x42" crop="center" upscale="true" as im %}
        <img src="{{im.url}}" width="{{im.width}}" height="{{im.height}}"/>
        {%endthumbnail%}
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" >
          
          <li>
            <a tabindex="-1" href="{%url "logout" %}?next={{request.get_full_path|urlencode}}">Logout</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>

<div id="main-container" class="container" >

  {% block "content" %}

  {%endblock%}
</div>
<!-- /container -->

{% endblock %}
