{% extends "base.html" %}
{% load gallery_filters %}
{% load url from future %}

{% block "body-class" %}{% if album.is_leaf %}fileupload{%endif%}{% endblock %}

{% block "content" %}

<section>

  <header>
    {% if breadcrumbs or is_paginated %}
    <ul class="breadcrumb">
       {% if breadcrumbs %}
        <li><a href="{% url "home_view" %}">Accueil</a><span class="divider">/</span></li>
        {% for crumb in breadcrumbs %}
          {% if forloop.last %}
          <li class="active">
            {{crumb.name}}
          </li>
          {% else %}
          <li>
            <a href="{{crumb.get_absolute_uri}}">{{crumb.name}}</a><span class="divider">/</span>
          </li>
          {% endif %}
        {% endfor %}
       {% endif %}
      <li class="pull-right">
        {% if is_paginated %}
        {% if page_obj.has_previous %}<a href="?page={{page_obj.previous_page_number}}"><i class="icon-chevron-left"></i></a>{%endif%} page {{page_obj.number}} / {{paginator.num_pages}} {% if page_obj.has_next %}<a href="?page={{page_obj.next_page_number}}"><i class="icon-chevron-right"></i></a>{% endif %}        
        {% endif %}
      </li>
    </ul>
  {% endif %}
   
    
    
      {% if not album.description %}
        {% if album|can_edit_field:"description" %}
          <p class="lead">cliquez ici pour ajouter une description à votre album</p>
        {% endif %}
      {% else %}
        <p class="lead">{{album.description}}</p>
      {% endif %}  
    
    
    
    
  </header>

  <div id="upload-manager" class="well" style="display:none">
    <h4>Téléversement de <span></span></h4>
    <div id="progressall" class=" progress progress-striped active">
      <div  class="bar" style="width: 0;"></div>
    </div>
    <ul class="" id="upload-details"></ul>
  </div>

  <div class="row">
    <div class="span2 pull-right">
        
        <div class="sidebar-nav well well-small">
          
          <h5>Options</h5>
          
          <ul class="nav">
            
            {% if album %}
            <li {% if not album.can_play_diaporama %}class="disabled"{%endif%} ><a class="start-slides" href=""  data-url="{% url 'gallery_view' pk=album.pk %}" ><i class=" icon-play"></i> diaporama</a></li>
            <li ><a href="{% url 'album_update_view' pk=album.pk %}" data-modal="modal"  ><i class="icon-edit"></i> edit</a></li>
            <li ><input   id="fileUploadInput"  id="truc" type="file" name="files[]"  multiple ></li>
            {% else %}
            <li ><a  href="{% url 'album_create_view' %}" data-modal="modal"  ><i class="icon-plus"></i> nouvel album</a></li>
            {% endif %}
            
          </ul>
        </div>
        
        
        {%if current_facets.year or  current_facets.month %}
        <div class="sidebar-nav well well-small">
          <h5>Filtres actifs</h5>
        <ul class="nav current-filters">
          {% if current_facets.year %}
          <li><a href="{{current_facets.year.url}}"><i class="icon-remove"></i></a> {{current_facets.year.name}}</li>
          {% endif %}
          
          {% if current_facets.month %}
          <li><a href="{{current_facets.month.url}}"><i class="icon-remove"></i></a> {{current_facets.month.name}}</li>
          {% endif %}
        </ul>
        </div>
        {% endif %}
       
        
        {% for facet in facets.year %}
          {% if forloop.first %}
          <div class="sidebar-nav well well-small">
            <h5>Filtrer par année</h5>
          <ul class="nav ">
          {% endif %}
            <li >
              <a href="{{facet.url}}"><i class="icon-plus"></i> {{facet.name}}</a>
            </li>
          {% if forloop.last %}
          </ul>
          </div>
          {% endif %}
        {% endfor %}
    
    
        {% for facet in facets.month %}
          {% if forloop.first %}
          <div class="sidebar-nav well well-small">
            <h5>Filtrer par mois</h5>
          <ul class="nav  ">
          {% endif %}
            <li >
              <a href="{{facet.url}}"><i class="icon-plus"></i> {{facet.name}}</a>
            </li>
          {% if forloop.last %}
          </ul>
          </div>
          {% endif %}
        {% endfor %}

        
    </div>
    
    <div id="thumbnails" class=" span10">
      {% include "albums/_inc/thumbnails.html" %}
    </div>
  </div>

</section>

{% endblock %}