{% load gallery_tags %}
<li class= "span2">
  
  <div class="thumbnail image thumb-container {{media.status}}" data-media-pk="{{media.pk}}">
    
    {% ifequal media.status 'deleted' %}
    <div class="deleted-marker"></div>
    {%endifequal%}
    
    <ul class="actions nav" style="display:none" >
      <li class="media-select"><input class="pull-left" type="checkbox"></li>
      <li class="not-deleted"><a href="#" class="pull-left" data-ops-target="media-{{media.pk}}" data-media-remove data-media-pk="{{media.pk}}"  ><i class=" icon-trash"></i></a></li>
      <li class="not-deleted"><a href="#" class="pull-right" data-image-rotate="-90" data-media-pk="{{media.pk}}" data-ops-target="media-{{media.pk}}" data-image-size="small" ><i class="icon-share-alt "></i></a></li>
      <li class="not-deleted" ><a href="#" class="pull-right" data-image-rotate="90" data-media-pk="{{media.pk}}" data-ops-target="media-{{media.pk}}" data-image-size="small" ><i class="icon-share-alt "></i></a>  </li>
      <li class="deleted"><a href="#" class="pull-left" data-ops-target="media-{{media.pk}}" data-media-unremove data-media-pk="{{media.pk}}" ><i class=" icon-refresh"></i></a></li>
    </ul>
    <div class="thumbnail-container" >
      <a href="{{media.get_absolute_uri}}">
        {% thumb media "small" as im %}
        <img id="{{im.id}}" data-media-pk="{{media.pk}}" src="{{im.src}}" width="{{im.width}}" height="{{im.width}}" >
        {% endthumb %}
      </a>
      <h6>{{media.name}} </h6>
      <p class='date'>
        {{media.date|date:"j F Y \à H\hi"}}
      </p>
        
        
    </div>
  </div>
</li>
