<ul class="thumbnails">
{% if object_list %}
  
  {% for media in object_list %}
    
    {% ifchanged media.real_type.name %}
      
      {% if not forloop.first %}
      </ul>
      <ul class="thumbnails">
      {% endif %}
      
    {%endifchanged%}
    
    {% ifequal media.real_type.name "image" %}
      {% include "albums/_inc/thumbnail_image.html" with media=media.cast %}
    {% else %}
      {% ifequal media.real_type.name "album" %}
        {% include "albums/_inc/thumbnail_album.html" %}
      {% else %}
        {% include "albums/_inc/thumbnail_video.html" %}
      {% endifequal %}
    {% endifequal %}
    
  {% endfor %}
  
{% endif %}
</ul>
{% include "pagination.html" %}