{% load gallery_tags %}
{% load url from future %}
<li class= "span2">
  <div class="thumbnail video">
    <div class="thumbnail-container">
      <video id="video-{{media.pk}}" class="video-js vjs-default-skin" controls
        width="150" height="120" poster="{{media.thumbnail_medium.url}}"
      data-setup="{}">
        {% for version in media.video_versions.all %}
        <source src="{{version.file.url}}" type='{{version.get_type_display}}'>
        {% endfor %}
      </video>
      <h6>{{media.name}}</h6>
      <p class='date'>
        {{media.date|date:"j F Y \à H\hi"}}
      </p>
      <a data-modal-video="{% url 'modal_video_view' pk=media.pk %}"  ><i class=" icon-play  "></i></a>
    </div>
  </div>
</li>
